.center-bottom {
  overflow: hidden;
  height: 910px;
}

.center-bottom .chart-box {
  top: 5px;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
#FontScroll {
  height: 730px;
}
#rightBottom {
  display: none;
}
.settings-box #list {
  display: block;
  margin-top: 20px;
  margin-left: 30px;
}
.settings-box .gun span {
  width: 80px;
  margin-left: 20px;
  font-size: 20px;
}
.settings-box .fontInner span {
  margin-top: 10px;
  margin-left: -35px;
  margin-right: 10px;
  width: 150px;
}
